spring:
  application:
    name: inventory
  datasource:
    driverClassName: org.h2.Driver
    url: jdbc:h2:mem:/db;MODE=PostgreSQL
    username: admin
    password: 
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.H2Dialect